    <div id='container'>
      <div id='headerContainer'>
        <h1>Metronome</h1>
      </div>

      <div id='screenContainer'>
        <div id='screen'>
          <p>
          Measure: <span id='currentMeasure'>1</span>
          Beat: <span id='currentBeat'>1</span>
          Status: <span id='status'>Inactive</span>
          </p>
        </div>
      </div>
      <hr>

      <div id='beatsPerMeasureContainer'>
        <h2>Beats per Measure</h2>
        <ul>
          <li><button id='plusBtn'>+</button></li>
          <li><span id='beatsPerMeasureCount'>128</span></li>
          <li><button id='minusBtn'>-</button></li>
        </ul>
      </div>
      <hr>

      <div id='timeSignatureContainer'>
        <h2>Time Signature</h2>
        <ul>
          <li><span id='beat'>4</span></li>
          <li>/</li>
          <li><span id='note'>4</span></li>
        </ul>
      </div>
      <hr>

      <div id='playBtnContainer'>
        <div>
          <button id='start'>Start</button>
          <button id='stop'>Stop</button>
        </div>
      </div>
    </div>
