body{
  padding-top:50px;
  font-family:helvetica;
  font-weight:200;
}

h2{
  font-size:1.25em;
}

#container{
  margin-top:50px;
  width:500px;
  margin:0 auto;
  background:gray;
  border-radius:3px;
  border:solid 1px rgb(224, 199, 199);
  box-shadow:0 0 10px #000;
  background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
}

#headerContainer{
  text-align:center;
  height:50px;
  background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  border-radius:3px 3px 0 0;
}

#headerContainer h1{
  font-size:2em;
  /*background: linear-gradient(to bottom, rgba(242,245,246,1) * 0%,rgba(227,234,237,1) 37%,rgba(89,106,114,1) 100%);*/
  background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table-cell;
  width: 500px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#screenContainer{
  padding-top:20px;
  margin-bottom:20px;
  padding-bottom:20px;
}

#screen{
  width:450px;
  margin:auto;
  height:50px;
  background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
  border-radius:3px;
  border:solid 1px white;
  box-shadow:0px 0px 3px #444;
}

#screen p{
  font-size:1.25em;
  display: table-cell;
  width: 500px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#beatsPerMeasureContainer{
  width:450px;
  margin:0 auto;
  padding-top:20px;
  margin-bottom:20px;
  padding-bottom:20px;
}

#beatsPerMeasureContainer h2{
  margin-bottom:10px;
}

#beatsPerMeasureContainer li{
  display:inline;
}

#beatsPerMeasureContainer li:first-child{
  width:30%;
}

#beatsPerMeasureContainer li:nth-child(2){
  width:38%;
}

#beatsPerMeasureContainer li:last-child{
  width:30%;
}

#beatsPerMeasureContainer li #plusBtn{
  height:50px;
  font-size:2em;
  background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
  border-radius:3px;
  border:solid 1px white;
  box-shadow:0px 0px 3px #444;
}

#beatsPerMeasureContainer li #minusBtn{
  width:50px;
  height:50px;
  background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
  border-radius:3px;
  border:solid 1px white;
  box-shadow:0px 0px 3px #444;
}

#timeSignatureContainer{
  width:450px;
  margin:0 auto;
}
